
			<nav class="navbar navbar-default">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
			      <a class="navbar-brand" href="{% url 'poll_app:home'%}">Naija Poll</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="active"><a href="{% url 'poll_app:home'%}">Home</a></li>
			        <li><a href="#">About</a></li>
			        <li><a href="{% url 'poll_app:contact' %}">Contact</a></li> 
			        <!--li><a href="#">Create Poll</a></li--> 
			        {% if not user.is_authenticated %}
			        <li><a href="#"><span class="glyphicon glyphicon-log-in icons"></span> Login</a></li>
                    {% endif %}
                     {% if user.is_authenticated %}
			        <li><a href="JavaScript:void;"><span class="glyphicon glyphicon-log-in icons"></span> {{request.user.email}}</a></li>
                    {% endif %}
			      </ul>
			    </div>
			  </div>
			</nav>